@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    color: #533738 ;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.body{
    min-height: 100vh;
}

.header__section {
    margin-left: 100px;
}

.header{
    background: url(img/header__background.jpg) no-repeat;
    width: 100%;
    background-size: cover;
    padding-top: 38px;
}

.section-menu {
    display: flex;
}

.logo {
    display: flex;
}

.header__navigation {
    margin-left: 89px;
    margin-top: 5px;
}

.link {
    text-decoration: none;
    padding-right: 26px;
}

.header__phone{
    margin-left: 9px;
    margin-top: 5px;
}

.header__call-back {
    margin-left: 185px;
    margin-top: 94px;
}

.call-back__request-button {
    margin-top: 21px;
    margin-bottom: 141px;
}

.request-button {
    height: 74px;
    width: 309px;
    background-color: #CC8B86;
    font-size: 20px;
    border: none;
}

.heading {
    width: 534px;
    height: 186px;
    font-size: 50px;
    line-height: 62px;
}

.call-back__about {
    margin-top: 24px;
}

.about {
    width: 493px;
    height: 90px;
    font-size: 18px;
    line-height: 30px;
}
