@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
*{
    color: #533738 ;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.body{
    min-height: 100vh;
}

.header__section {
    margin-left: 100px;
}

.header{
    background: url(img/header__background.jpg) no-repeat;
    width: 100%;
    background-size: cover;
    padding-top: 38px;
}

.section-menu {
    display: flex;
}

.logo {
    display: flex;
}

.header__navigation {
    margin-left: 89px;
    margin-top: 5px;
}
.navigation__list {
    display: flex;
}

.navigation__link {
    list-style: none;
    padding-right: 26px;
}

.header__phone{
    margin-left: 9px;
    margin-top: 5px;
}

.header__call-back {
    margin-left: 185px;
    margin-top: 94px;
}

.call-back__request-button {
    margin-top: 21px;
    margin-bottom: 141px;
}

.request-button {
    height: 74px;
    width: 309px;
    background-color: #CC8B86;
    font-size: 20px;
    border: none;
}

.heading {
    width: 534px;
    height: 186px;
    font-size: 50px;
    line-height: 62px;
}

.call-back__about {
    margin-top: 24px;
}

.about {
    width: 493px;
    height: 90px;
    font-size: 18px;
    line-height: 30px;
}

.main__about {
    width: 100%;
    background-color: #E5E5E5;
}

.about__heading {
    padding-top: 65px;
    line-height: 50px;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.about__img {
    padding-left: 183px;
    padding-top: 40px;
    padding-bottom: 15px;
}

.about__text {
    padding-top: 40px;
    padding-left: 61px;
    width: 528px;
    height: 330px;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 156px;
}

.section-indicators {
    background-color: #8D7370;
    width: 100%;
    height: 273px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.indicator {
    color: white;
    font-size: 50px;
    line-height: 62px;
    text-transform: uppercase;
}

.main__works{
    width: 100%;
    background-color: #E5E5E5;
}

.works__heading {
    padding-top:65px;
    padding-left: 100px;
    text-transform: uppercase;
    
}

.works__section {
    margin-top: 40px;
    margin-left: 100px;
}
.section-works {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
}

.works__see-more {
    background: none;
    border: none;
    text-align: center;
    width: 284px;
    height: 37px;
    margin-left: 620px;
    font-size: 30px;
    line-height: 36px;
    margin-top: 40px;
    margin-bottom:65px;
}

.team__heading {
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
}

.team {
    background-color: #E2C4BA;
    width:100%;
    padding-top:50px;
}

.members {
    
    display: flex;
    justify-content: center;
}

.member__card {
    padding: 42px;
}
.about__member {
    width: 320px;
    font-size: 18px;
    line-height: 30px;
}

.how-we-work__heading {
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
}

.how-we-work__examples{
    display:flex;
    justify-content: space-around;
    padding-top: 40px;
}

.about__example {
    width: 285px;
    font-size:18px;
    line-height: 30px;
    padding-top:20px;
    padding-bottom: 80px ;
}

.step__circle {
    color: white;
    text-align: center;
    background-color: #8D7370;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left:90px;
}

.step__number {
    color: white;
    font-size: 30px;
    line-height: 30px;
    padding: 20px;
}

.reviews {
    background-color: #E5E5E5;
    width: 100%;
    text-transform: uppercase;
}

.reviews__heading{
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    padding-top:65px ;
}  

.reviews__wrapper {
    display: flex;
    padding-left: 183px;
}

.review__text {
    font-size: 18px;
    line-height: 30px;
    width: 407px;
    padding-top: 131px;
    padding-left:29px;
}
.review__author {
    padding-top:20px ;
    font-size: 18px;
    line-height: 30px;
    padding-left:29px;
}

.reviews__images {
    padding-top:20px;
    padding-bottom:65px;
    padding-left:20px ;
    width: 407px;
    padding-right: 29px;
}

.review__image {
    padding-top:20px;
}

.reviews__slide {
    width: 72px;
    height: 72px;
    align-self: center;
    background-color:#CC8B86;
    border:none;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    text-align: center;
}

.contact {
    display: flex;
    background-color: #8D7370;
    width: 100%;
}

.contact__form {
    margin-left: 181px;
    margin-top: 50px;
}
.form {
    display:flex ;
    flex-direction: column;
}

.form__heading {
    color:white;
    width: 474px;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
}

.form__description {
    width: 507px;
    padding-top:24px;
    font-size: 18px;
    line-height: 30px;
    color: white;
}

.form__input {
    margin-top:35px;
}

input {
    border: none;
    background-color: #8D7370;
    font-size: 18px;
    line-height: 30px;
    border-bottom: 2px solid white;
    padding:5px;
}

input::placeholder {
    color: white;
}

.form__button { 
    margin-top: 31px;
}

.map{
    padding-left: 20px;
}

.footer{
    width: 100%;
    background-color: #E5E5E5;
    display: flex;
}

.footer__phone{
    margin-bottom: 37px;
    margin-top: 37px;
    margin-left: 100px;
}

.footer__address{
    margin-left: 42px;
    margin-bottom: 37px;
    margin-top: 37px;
}

.footer__owner {
    margin-left: 379px;
    margin-bottom: 37px;
    margin-top: 37px;
}

.txt{
    font-size: 18px;
    line-height: 30px;
}