body {
    margin: 0;  
    background:url(img/background.png) no-repeat;
    font-family: 'Montserrat', sans-serif;
    color:#533738;
    font-weight: bold;
}

.flexbox{
    display: flex;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
p{
    color: #533738;
}

a{text-decoration: none;}

nav{
    margin-left: 62px;
    display: flex;
}
#request-button {
    font-size: 20px;
    height: 74px;
    width: 309px;
    background-color: #CC8B86;
    font-family: 'Montserrat', sans-serif;
    border: none;
}

.main-page{
    display: flex;
    flex-direction: column;
    margin-left:184px;
    margin-top: 91px;
}
.main-page h1 {
    font-size: 50px;
    line-height: 62px;
    width: 534px;
    margin: 0;
}
.main-page .description {
    font-size: 18px;
    line-height: 30px;
    width: 493px;
}
.logo {
    margin-left: 100px;
}
header{
    padding-top: 36px;
}
header p {
    margin-left:22px;
}
.logo-text{
    margin-left: 0;
}
.phone-number {
    margin-left: 41px;
}

